.dashboardPage {
  margin: 4% 12% 4% 12% ;
  padding: 2px 2px 2px 2px;
  display: flex;
}

.profil {
  width: 25%;
  margin: 5% 0 5% 3% ;
  padding: 2px 2px 2px 2px;
  float: left;
  background-color: white;
  border: 2px solid white;
  border-radius: 3px;
  height: max-content;
}

.headerContent{
  width: 60%;
  margin: 5% 10% 5% 10% ;
  padding: 2px 2px 2px 2px;
  background-color: white;

}