.login {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login__box {
  background: fade-out($color: rgba(182, 182, 182, 0), $amount: .15);
  border-radius: 3px;
  border: 1px solid $blue;
  padding: $l-size $m-size;
  text-align: left;
  width: 40rem;
}
